PORT_EXAMPLE=3000

FIREBASE_API_KEY=Coloca aqui tu FIREBASE_API_KEY
FIREBASE_AUTH_DOMAIN=Coloca aqui tu FIREBASE_AUTH_DOMAIN
FIREBASE_PROJECT_ID=Coloca aqui tu FIREBASE_PROJECT_ID
FIREBASE_STORAGE_BUCKET=Coloca aqui tu FIREBASE_STORAGE_BUCKET
FIREBASE_MESSAGING_SENDER_ID=Coloca aqui tu FIREBASE_MESSAGING_SENDER_ID
FIREBASE_APP_ID=Coloca aqui tu FIREBASE_APP_ID

JWT_SECRET=Colaca aqui tu JWT_SECRET
JWT_EXPIRES_IN=1h

ADMIN_USERNAME=Colaca aqui tu ADMIN_USERNAME
ADMIN_PASSWORD=Colaca aqui tu ADMIN_PASSWORD


